In [1]:
import pandas as pd
import matplotlib.pyplot as plt

C:\Users\lucas\AppData\Local\Temp\ipykernel_15780\1492400551.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("cleaned_data.csv")

In [3]:
df.head()

,genres,title,price,id,developer,release_year
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,4.99,761140,Kotoshiro,2018
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,0.00,643980,Secret Level SRL,2018
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,0.00,670290,Poolians.com,2017
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,0.99,767400,彼岸领域,2017
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,3.99,772540,Trickjump Games Ltd,2018

In [4]:
df["price"].value_counts()

price
4.99      3857
9.99      3580
2.99      3178
0.99      2476
1.99      2251
          ...
3.39         1
6.00         1
16.06        1
4.68         1
160.91       1
Name: count, Length: 127, dtype: int64

In [5]:
df.shape

(27572, 6)

In [6]:
df.head()

,genres,title,price,id,developer,release_year
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,4.99,761140,Kotoshiro,2018
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,0.00,643980,Secret Level SRL,2018
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,0.00,670290,Poolians.com,2017
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,0.99,767400,彼岸领域,2017
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,3.99,772540,Trickjump Games Ltd,2018

## Endpoints

#### Endpoint 1 :

In [8]:
df["developer"].value_counts()

developer
Ubisoft - San Francisco       1258
SmiteWorks USA, LLC            812
Dovetail Games                 253
KOEI TECMO GAMES CO., LTD.     214
Unknown                        155
                              ...
Project Purity Team              1
Triple rush games                1
Storybird,Julien Rocca           1
Light                            1
Bidoniera Games                  1
Name: count, Length: 10592, dtype: int64

In [9]:
df["año"] = df["release_year"]  #Creo una columna de año.

contenido_free = df[df["price"] == 0.0] #Selecciono un subset donde los precios sean 0.0.

total_juegos_por_desarrollador = df.groupby(["developer", "año"]).size().reset_index(name="total_juegos") #Agrupo a los juegos por año y desarrollador.
num_juegos_gratuitos = contenido_free.groupby(["developer", "año"]).size().reset_index(name='num_juegos_gratuitos')

juegos_por_desarrollador = total_juegos_por_desarrollador.merge(num_juegos_gratuitos, on=["developer", "año"], how="left") #Uno en un dataframe los juegos free y los demás.
juegos_por_desarrollador["porcentaje_juegos_gratuitos"] = (juegos_por_desarrollador["num_juegos_gratuitos"] / juegos_por_desarrollador["total_juegos"]) * 100 #Calculo el promedio de juegos gratuitos

juegos_por_desarrollador = juegos_por_desarrollador.fillna(0)
juegos_por_desarrollador = juegos_por_desarrollador.drop("num_juegos_gratuitos", axis=1)
juegos_por_desarrollador["porcentaje_juegos_gratuitos"] = juegos_por_desarrollador["porcentaje_juegos_gratuitos"].apply(lambda x: f'{int(x)}%')

In [10]:
#Chequeo que haya quedado bien.
juegos_por_desarrollador[juegos_por_desarrollador["developer"]=="Dovetail Games"]

           developer   año  total_juegos porcentaje_juegos_gratuitos
3598  Dovetail Games  2009            22                          0%
3599  Dovetail Games  2010             4                          0%
3600  Dovetail Games  2011             4                          0%
3601  Dovetail Games  2012            52                          0%
3602  Dovetail Games  2013            39                          0%
3603  Dovetail Games  2014            37                          0%
3604  Dovetail Games  2015            50                          0%
3605  Dovetail Games  2016            21                          0%
3606  Dovetail Games  2017            24                          4%

In [11]:
juegos_por_desarrollador["porcentaje_juegos_gratuitos"].value_counts()

porcentaje_juegos_gratuitos
0%      13116
100%      786
50%       237
33%        72
25%        71
20%        26
14%        19
66%        16
16%        16
12%        12
9%          7
28%         6
7%          6
11%         6
4%          5
5%          4
6%          4
2%          4
22%         3
75%         3
8%          2
42%         2
41%         2
37%         2
40%         2
3%          1
35%         1
55%         1
17%         1
13%         1
85%         1
18%         1
87%         1
26%         1
1%          1
10%         1
15%         1
46%         1
Name: count, dtype: int64

In [12]:
#Almaceno el df en un csv para ser consumido por la API.
juegos_por_desarrollador.to_csv("df_endpoint1.csv", index=False)

#### Endpoint 2

In [8]:
preciosdejuegos = df[["id", "price"]]
preciosdejuegos = preciosdejuegos.reset_index(drop=True)

In [9]:
#Almaceno los precios de los juegos para crear el endpoint 2
preciosdejuegos.to_csv('preciosdejuegos.csv', index=False)